<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<style>
    .p {
        width: 200px;
        padding: 20px;
        background: rgba(255, 255, 255, .05);
        color: white;
        border: 1px solid aqua;
        box-shadow: transparent;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 2px 8px 5px 7px #335468;
    }

    .p:hover {
        transform: scale(1.02);
        border-color: darkslateblue;
        transition: .5s;
        animation: ease-in-out;
    }

    p {
        justify-content: center;
        align-items: center;
    }
</style>

<body style=" background: linear-gradient(100deg,rgb(40, 40, 78),rgb(24, 78, 78));  display: flex; justify-content: center; padding-top: 100px;">
    <div class="p">
        <p style="color: white; font-family: Arial, Helvetica, sans-serif;">
        <h1>HI THERE </h1> <br>this site develop in 2023, in this site you can see and upload every music and Movies, in
        addition it's easy for use and completly free. </p>
    </div>
    <script src="https://unpkg.com/scrollreveal">

    </script>

</body>

</html>