<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        height: 649px;
        width: 20%;
        border: 1px solid rgb(29, 29, 29);
       
    }
    
    .sidebar a{
        padding-top: 2cm;
        padding-left: 20px;
        text-decoration: none;
        outline: none;
        
    }
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .body p{
        padding-top: 20px;
    }
    h1{
        padding-left: 20px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0  ;
    }
    .main{
        display: flex;
        justify-content: space-between;

    }
     
</style>
<body style="height: 100%; width: 100%; background: linear-gradient(100deg,rgb(40, 40, 78),rgb(24, 78, 78));">
   
     <div class="main" style=" background: linear-gradient(100deg,rgb(40, 40, 78),rgb(24, 78, 78));">
       
        <div class="sidebar" >
            <h1 style="color: white;">Dashboard</h1>
    <a href="/my-uploads" style="color: rgb(244, 248, 248); border-bottom: 1px solid rgb(7, 190, 223);padding-bottom: 15px;">Your upload movies</a>
    <a href="/upload" style="color: white; border-bottom: 1px solid rgb(7, 190, 223);padding-bottom: 15px;">upload Movies</a>
    <a href="/index" style="color: rgb(226, 239, 241); border-bottom: 1px solid rgb(7, 190, 223);padding-bottom: 15px; ">Home</a>
        </div>
        
            <h1 style="padding: 3cm; padding-right: 9cm; color: white; font-family: Arial, Helvetica, sans-serif;">Your viewed movies</h1> 
        
    
    

</div>



</body>
</html>